<script>
    var Webflow = Webflow || [];
    Webflow.push(function () {
        let genreMarqueeList = $(".genre-marquee_list");
        $(genreMarqueeList).clone().appendTo(".genre-marquee_wrapper");
        $(genreMarqueeList).clone().appendTo(".genre-marquee_wrapper");

        let genresAmount = $(".genre-marquee_item").length;
        let duration = 30 * (genresAmount / 20);

        let genreMarqueeTimeline = gsap.timeline({ repeat: -1 });
        genreMarqueeTimeline.to(".genre-marquee_list", {x: "-100%", duration: duration, ease: "none"});

        $(".genre-marquee_list").on("mouseenter", function() {
            genreMarqueeTimeline.pause();
        });

        $(".genre-marquee_list").on("mouseleave", function() {
            genreMarqueeTimeline.resume();
        });
    });
</script>