<style>
    .genre-marquee_gradient {
        pointer-events: none;
    }

    .genre-marquee_item:nth-child(5n+1) .genre-marquee_icon {
        color: #ed562a;
    }

    .genre-marquee_item:nth-child(5n+2) .genre-marquee_icon {
        color: #fcbc10;
    }

    .genre-marquee_item:nth-child(5n+3) .genre-marquee_icon {
        color: #281f5d;
    }

    .genre-marquee_item:nth-child(5n+4) .genre-marquee_icon {
        color: #f7b9b0;
    }

    .genre-marquee_item:nth-child(5n+5) .genre-marquee_icon {
        color: #166160;
    }
</style>